<?xml version="1.0"?>

<!-- NOTE: THIS FILE SHOULD BE ALMOST IDENTICAL TO RELEASE -->
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <connectionStrings xdt:Transform="Replace">
    <add name="DomainEntities" connectionString="metadata=res://*/Data.EntityFramework.Domain.csdl|res://*/Data.EntityFramework.Domain.ssdl|res://*/Data.EntityFramework.Domain.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gt-sql2008b.corp.gt.local;initial catalog=tec_cvar_test;uid=tec_cvar_user;pwd=IForgotIt;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--Membership Provider-->
    <add name="elmah-sqlserver" connectionString="data source=gt-sql2008b.corp.gt.local;initial catalog=tec_cvar_user;uid=tec_cvar_test;pwd=IForgotIt" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->

    <httpModules>
      <add xdt:Transform="Remove" name="Glimpse" type="Glimpse.Core.Module" />
      <add xdt:Transform="Remove" name="AutoF5Module" type="AutoF5Lib.AutoF5Module" />
    </httpModules>
    <httpHandlers>
      <add xdt:Transform="Remove" path="glimpse.axd" verb="GET,POST" type="Glimpse.Core.Handler" />
    </httpHandlers>

  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add xdt:Transform="Remove" name="Glimpse" type="Glimpse.Core.Module,Glimpse.Core" preCondition="integratedMode" />
      <add xdt:Transform="Remove" name="AutoF5Module" type="AutoF5Lib.AutoF5Module" />
    </modules>
    <handlers>
      <add xdt:Transform="Remove" name="Glimpse" path="glimpse.axd" verb="GET,POST" type="Glimpse.Core.Handler,Glimpse.Core" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
</configuration>