@{
    ViewBag.Title = "About Us";
}
<style type="text/css">
    #main section {
        background: #efefef;
        text-align: center;
    }
    
</style>
<h2 class="full">About</h2>

<section class="one-third">
    <div class="borders">
        <p>One Third</p>
    </div>
</section>
<section class="two-thirds">
    <p>Two Thirds</p>
</section>

<div class="clearfix"></div>

<hr/>

<section class="one-fourth">
    <p>One Fourth</p>
</section>
<section class="one-fourth">
    <p>One Fourth</p>
</section>
<section class="half">
    <div class="borders-left">   
        <p>One Half</p>
    </div>
</section>

<div class="clearfix"></div>

<hr/>

<section class="two-fifths">
    <p>Two Fifths</p>
</section>
<section class="three-fifths">
    <p>Three Fifths</p>
</section>

<div class="clearfix"></div>

<hr/>

<section class="one-sixth">
    <p>One Sixth</p>
</section>
<section class="half">
    <div class="borders-left borders-right">
        <p>One Half</p>
    </div>
</section>
<section class="one-third">
    <p>One Third</p>
</section>


<div class="clearfix"></div>

<hr/>

<section class="one-seventh">
    <p>One Seventh</p>
</section>
<section class="one-seventh">
    <p>One Seventh</p>
</section>
<section class="one-seventh">
    <p>One Seventh</p>
</section>
<section class="one-seventh">
    <p>One Seventh</p>
</section>
<section class="one-seventh">
    <p>One Seventh</p>
</section>
<section class="one-seventh">
    <p>One Seventh</p>
</section>
<section class="one-seventh">
    <p>One Seventh</p>
</section>

<div class="clearfix"></div>

<hr/>

<section class="one-seventh">
    <p>One Seventh</p>
</section>
<section class="six-sevenths">
    <p>Six Sevenths</p>
</section>


<div class="clearfix"></div>

<hr/>

<section class="one-eighth">
    <p>One Eighth</p>
</section>
<section class="one-fourth">
    <p>One Fourth</p>
</section>
<section class="one-eighth">
    <p>One Eighth</p>
</section>
<section class="three-eighths">
    <p>Three Eighths</p>
</section>
<section class="one-eighth">
    <p>One Eighth</p>
</section>

<div class="clearfix"></div>

<hr/>

<section class="two-ninths">
    <p>Two Ninths</p>
</section>
<section class="one-ninth">
    <p>One Ninth</p>
</section>
<section class="four-ninths">
    <p>Four Ninths</p>
</section>
<section class="one-ninth">
    <p>One Ninth</p>
</section>
<section class="one-ninth">
    <p>One Ninth</p>
</section>

<div class="clearfix"></div>

<hr/>

<section class="three-tenths">
    <p>Three Tenth</p>
</section>
<section class="one-tenth">
    <p>One Tenth</p>
</section>
<section class="three-fifths">
    <p>Three Fifths</p>
</section>

<div class="clearfix"></div>

<hr/>

<section class="one-eleventh">
    <p>One Eleventh</p>
</section>
<section class="two-elevenths">
    <p>Two Elevenths</p>
</section>
<section class="one-eleventh">
    <p>One Eleventh</p>
</section>
<section class="three-elevenths">
    <p>Three Elevenths</p>
</section>
<section class="four-elevenths">
    <p>Four Elevenths</p>
</section>

<div class="clearfix"></div>

<hr/>

<section class="one-sixth">
    <p>One Sixth</p>
</section>
<section class="one-twelfth">
    <p>One Twelfth</p>
</section>
<section class="one-fourth">
    <p>One Fourth</p>
</section>
<section class="one-twelfth">
    <p>One Twelfth</p>
</section>
<section class="five-twelfths">
    <p>Five Twelfths</p>
</section>

<div class="clearfix"></div>
