@using Application.Core.Membership
@if(Request.IsAuthenticated) {
    <text>Welcome <strong><span id="loginUserFriendlyName">@((User is WrappedUser) ? ((WrappedUser)User).FriendlyName : "WRAPPED USER NOT FOUND")</span></strong>!
        @Html.ActionLink("Log Off", "LogOff", "Account")</text>
}
else {
    <ul>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "layoutRegisterLink", data_dialog_title = "Registration"})</li>
        <li>@Html.ActionLink("Log on", "LogOn", "Account", routeValues: null, htmlAttributes: new { id = "layoutLogonLink", data_dialog_title = "Identification" })</li>
    </ul>
}
